/*
* {
    outline: solid 1px red;
}
*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 75px;
    left: auto;
    background-color: white;
    overflow-x: hidden;
    transition: 0.1s;
    max-height: 100vh;
    padding-left: 20px;
    padding-top: 8px;
    box-sizing: border-box;
    overflow-y: auto;
    overscroll-behavior-y: contain;

    flex: 1 0 auto;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;

    border-right: 0px;
}

.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    /* font-size: 25px; */
    color:blue;
    display: block;
    transition: 0.3s;

}

.sidenav a:hover {
    text-decoration: underline;
}


#courses_header_and_right_of_header{
    z-index: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #c7cdd1;
    margin-left: 0;
    margin-bottom: 12px;
    min-height: 4.5rem;
    box-sizing: border-box;
    padding-left: 0px;
    padding-right: 12px;
     /* position: absolute; */
    position: relative;
    width: 100%!important;
    font-size: large;
}

#course_section_content_body {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    margin-left: 24px;
    padding-top: 1%;
    padding-left: .5%;
    padding-right: 5%;
    padding-bottom: 1%;
    box-sizing: border-box;
    width: 80%;
    position: absolute;

}

#courses_header {
    flex: 1;
    display: flex;
    align-items: center;
    /* box-sizing: border-box; */
    /* margin: 24px 12px 4.5rem 24px; */


    max-height: 100vh;
    padding: 12px 12px 4.5rem 24px;
    padding-bottom: 0;

    /* box-sizing: border-box; */
    overflow-y: auto;
    overscroll-behavior-y: contain;

    flex: 1 0 auto;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;



}

#courses_hamburger {
    padding-right: 8px;
}

/*
#right_of_header{
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
    padding: 12px 12px 4.5rem 24px;
}
*/

#courses_header a {
    color: blue;
    text-decoration: none;
}

#courses_header a:hover {
    text-decoration: underline;
}

#courses_breadcrumbs {
    content: "";
    width: 5px;
    height: 9px;
    display: inline-block;
    margin: 0 9px;
    background: url(https://du11hjcvx0uqb.cloudfront.net/dist/images/breadcrumb-arrow-light-8702eeae02.svg) no-repeat 50% 50%;
    background-size: 5px 9px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/**
MODULES CSS!
 */

.collapsible_item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible_header {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    width: 100%;
    position: relative;
    border: 1px solid #c7cdd1;


}

/*
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/*.active, .collapsible:hover { */
 /*   background-color: #ccc; */
/* } */


/* Style the collapsible content. Note: hidden by default */
.collapsible_content {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 1px solid #c7cdd1;
    border-top: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    width: 100%;
    position: relative;
    /* display: none; */

}

.collapsible_content_all {
    display: none;
}



.collapsible_header:after {
    content: '\003E'; /* Unicode character for "plus" sign (+) */
    font-size: 20px;
    color: black;
    float: left;
    margin-left: 5px;
    padding: 3px;
}



.active:after {
    content: "\2304"; /* Unicode character for "minus" sign (-) */
    font-size: 20px;
    color: black;
    float: left;
    margin-right: 5px;
    padding: 3px;

}

/*
Announcements row styling
 */
.announcements_row {
    box-shadow: 0 -1px #c7cdd1, inset 0 -1px #c7cdd1;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
}

h3 {
    position: relative;
}



