{% extends "layout.html" %}

{% block content %}
<div id="courses_sidenav" class="sidenav">
    <!-- <a> Date published </a>  may not use this -->
    <a href="//announcements">Announcements</a>
    <a href="//assignments">Assignments</a>
    <a href="//grades">Grades</a>
</div>

<div id="courses_header_and_right_of_header">
    <div id="courses_header">

        <a href="//home"> </a>  <div id="courses_breadcrumbs"></div> Course Management </span>
    </div>
    <!-- <div id = "right_of_header"></div> -->
</div>

<div id="course_section_content_body">
    <h3 style="padding-bottom: 6px;">Course Management</h3>
            <a href="/create_course" style="text-decoration: none; color:white"><button class="btn btn-primary btn-block mb-4 create_post" style="background-color: #0d6efd"> Create Course </button></a>

    <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Role</th>
        <th>Name</th>
        <th>Username</th>
        <th>Status</th>
          <th>Controls</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user['role'] }}</td>
          <td>{{ user['name'] }}</td>
          <td>{{ user['username'] }}</td>
            <td>N/A</td>
            <td>Change status</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
    </div>

{% endblock %}