{% extends "layout.html" %}

{% block content %}
<div id="courses_sidenav" class="sidenav">
    <!-- <a> Date published </a>  may not use this -->
    <a href="//announcements">Announcements</a>
    <a href="//assignments">Assignments</a>
    <a href="//grades">Grades</a>
</div>

<div id="courses_header_and_right_of_header">
    <div id="courses_header">

        <a href="//home"> </a>  <div id="courses_breadcrumbs"></div> Course Details </span>
    </div>
    <!-- <div id = "right_of_header"></div> -->
</div>

<div id="course_section_content_body">

    <h3 style="padding-bottom: 6px;">Course Announcements</h3>

    <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Content</th>
        <th>Date Posted</th>
      </tr>
    </thead>
    <tbody>
      {% for announcement in announcements %}
        <tr>
          <td>{{ announcement['announcement_id'] }}</td>
          <td>{{ announcement['title'] }}</td>
          <td>{{ announcement['content'] }}</td>
            <td>{{ announcement['date_posted'] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


    <h3 style="padding-bottom: 6px;">Course Assignments</h3>

    <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Content</th>
        <th>Points</th>
          <th>Due Date</th>
      </tr>
    </thead>
    <tbody>
      {% for assign in assignments %}
        <tr>
          <td>{{ assign['assignment_id'] }}</td>
          <td>{{ assign['title'] }}</td>
          <td>{{ assign['content'] }}</td>
            <td>{{ assign['total_points'] }}</td>
            <td>{{ assign['due_date'] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>



    <h3 style="padding-bottom: 6px;">Course Grades</h3>

    <table class="table table-striped">
    <thead>
      <tr>
        <th>Assignment ID</th>
        <th>Student Username</th>
        <th>Points Received</th>
        <th>Point Total</th>
        <th>Date Submitted</th>
          <th>Submission</th>
      </tr>
    </thead>
    <tbody>
      {% for grade in grades %}
        <tr>
          <td>{{ grade['assignment_id'] }}</td>
          <td>{{ grade['student'] }}</td>
          <td>{{ grade['points_received'] }}</td>
            <td>{{ grade['total_points'] }}</td>
            <td>{{ grade['date_submitted'] }}</td>
          <td>{{ grade['submission'] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


    </div>

{% endblock %}