{% extends "layout.html" %}

{% block content %}
<div>
    <div id="courses_sidenav" class="sidenav">
    <!-- <a> Date published </a>  may not use this -->
    <a href="/{{ course }}/announcements">Announcements</a>
    <a href="/{{ course }}/assignments">Assignments</a>
    <a href="/{{ course }}/grades">Grades</a>
</div>

<div id="courses_header_and_right_of_header">
    <div id="courses_header">

        <a href="/{{ course }}/home"> {{ course }}</a>  <div id="courses_breadcrumbs"></div> Dashboard </span>
    </div>
    <!-- <div id = "right_of_header"></div> -->
</div>
</div>
<div id="course_section_content_body">
    {% if role == 'admin' %}
    <h3 style="padding-bottom: 6px;">System Overview</h3>
    <table class="announcements_table">
        <thead class="announcements_table_header">
        <tr>
            <th class="announcements_table_poster_header">Entity</th>
            <th class="announcements_table_details_header">Number in System</th>
        </tr>
        </thead>
        <tbody class="announcements_table_body">
            <tr class="announcements_table_body_row">
                <td class="announcements_table_poster_item">Students </td>
                <td class="announcements_table_details_item">Num Students </td>
            </tr>
            <tr class="announcements_table_body_row">
                <td class="announcements_table_poster_item">Teachers</td>
                <td class="announcements_table_details_item">Num Teachers </td>
            </tr>
        <tr class="announcements_table_body_row">
                <td class="announcements_table_poster_item">Courses </td>
                <td class="announcements_table_details_item">Num Courses </td>
            </tr>

        </tbody>
    </table>
    {% endif %}
    {% if role == 'instructor' or role =='student' %}
    <div class="collapsible_item">
        <button type="button" class="collapsible_header"><span style="margin-left: 20px; "><b>To Do</b> </span></button>
        <div class="collapsible_content_all">
            <div class="collapsible_content_assign">

                <table class="assignments_table">
            <thead class="assignments_table_header">
            <tr>
                <th class="assignments_table_class_header">Class</th>
                <th class="assignments_table_assign_header">Assignment</th>
                <th class="assignments_table_points_header">Points</th>
                <th class="assignments_table_date_header">Due </th>
            </tr>
            </thead>
            <tbody class="assignments_table_body">
            <tr class="assignments_table_body_row">
                <td class="assignments_table_class_item">Class Name Here</td>
                <td class="assignments_table_assign_item"><a href="/courses/assignments_view" style="text-decoration: none; color:black">Assignment Title</a> </td>
                <td class="assignments_table_points_item"> Points Here </td>
                <td class="assignments_table_date_item">Due Date Here</td>
            </tr>
            <tr class="assignments_table_body_row">
                <td class="assignments_table_class_item">Class Name Here</td>
                <td class="assignments_table_assign_item"><a href="/courses/assignments_view" style="text-decoration: none; color:black">Assignment Title</a> </td>
                <td class="assignments_table_points_item"> Points Here </td>
                <td class="assignments_table_date_item">Due Date Here</td>
            </tr>
            <tr class="assignments_table_body_row">
                <td class="assignments_table_class_item">Class Name Here</td>
                <td class="assignments_table_assign_item"><a href="/courses/assignments_view" style="text-decoration: none; color:black">Assignment Title</a> </td>
                <td class="assignments_table_points_item"> Points Here </td>
                <td class="assignments_table_date_item">Due Date Here</td>
            </tr>
            </tbody>

        </table></div>
        </div>
    </div>

    <div class="collapsible_item">
        <button type="button" class="collapsible_header"><span style="margin-left: 20px; "><b>Upcoming</b> </span></button>
        <div class="collapsible_content_all">
            <div class="collapsible_content_assign">

                <table class="assignments_table">
            <thead class="assignments_table_header">
            <tr>
                <th class="assignments_table_class_header">Class</th>
                <th class="assignments_table_assign_header">Assignment</th>
                <th class="assignments_table_points_header">Points</th>
                <th class="assignments_table_date_header">Due </th>
            </tr>
            </thead>
            <tbody class="assignments_table_body">
            <tr class="assignments_table_body_row">
                <td class="assignments_table_class_item">Class Name Here</td>
                <td class="assignments_table_assign_item"><a href="/courses/assignments_view" style="text-decoration: none; color:black">Assignment Title</a> </td>
                <td class="assignments_table_points_item"> Points Here </td>
                <td class="assignments_table_date_item">Due Date Here</td>
            </tr>
            <tr class="assignments_table_body_row">
                <td class="assignments_table_class_item">Class Name Here</td>
                <td class="assignments_table_assign_item"><a href="/courses/assignments_view" style="text-decoration: none; color:black">Assignment Title</a> </td>
                <td class="assignments_table_points_item"> Points Here </td>
                <td class="assignments_table_date_item">Due Date Here</td>
            </tr>
            <tr class="assignments_table_body_row">
                <td class="assignments_table_class_item">Class Name Here</td>
                <td class="assignments_table_assign_item"><a href="/courses/assignments_view" style="text-decoration: none; color:black">Assignment Title</a> </td>
                <td class="assignments_table_points_item"> Points Here </td>
                <td class="assignments_table_date_item">Due Date Here</td>
            </tr>
            </tbody>

        </table></div>
        </div>
    </div>

    <div class="collapsible_item">
        <button type="button" class="collapsible_header"><span style="margin-left: 20px; "><b>Past</b> </span></button>
        <div class="collapsible_content_all">
            <div class="collapsible_content_assign">

                <table class="assignments_table">
            <thead class="assignments_table_header">
            <tr>
                <th class="assignments_table_class_header">Class</th>
                <th class="assignments_table_assign_header">Assignment</th>
                <th class="assignments_table_points_header">Points</th>
                <th class="assignments_table_date_header">Due </th>
            </tr>
            </thead>
            <tbody class="assignments_table_body">
            <tr class="assignments_table_body_row">
                <td class="assignments_table_class_item">Class Name Here</td>
                <td class="assignments_table_assign_item"><a href="/courses/assignments_view" style="text-decoration: none; color:black">Assignment Title</a> </td>
                <td class="assignments_table_points_item"> Points Here </td>
                <td class="assignments_table_date_item">Due Date Here</td>
            </tr>
            <tr class="assignments_table_body_row">
                <td class="assignments_table_class_item">Class Name Here</td>
                <td class="assignments_table_assign_item"><a href="/courses/assignments_view" style="text-decoration: none; color:black">Assignment Title</a> </td>
                <td class="assignments_table_points_item"> Points Here </td>
                <td class="assignments_table_date_item">Due Date Here</td>
            </tr>
            <tr class="assignments_table_body_row">
                <td class="assignments_table_class_item">Class Name Here</td>
                <td class="assignments_table_assign_item"><a href="/courses/assignments_view" style="text-decoration: none; color:black">Assignment Title</a> </td>
                <td class="assignments_table_points_item"> Points Here </td>
                <td class="assignments_table_date_item">Due Date Here</td>
            </tr>
            </tbody>

        </table></div>
        </div>
    </div>
    {% endif %}
</div>


{% endblock %}