{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block content %}        
    <div class="flex-container" id="login">
        <form action="login.js" method="post">
            <div class="imgcontainer">
                <img src="https://www.w3schools.com/howto/img_avatar2.png">
            </div>
            <div class="container">
                <div id="username">
                    <label for="user"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="user" required> <br>
                </div>
                <div id="password">
                    <label for="pass"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="pass" required> <br>
                </div>
                <button type="submit">Login</button><br>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label><br>
                <span class="pass"><a href="reset.html">Reset password</a></span>
            </div>
        </form>
    </div>
{% endblock %}