<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- CSS only -->
    <link href="/static/css/courses.css" rel="stylesheet">
</head>
<body>
    
<script>

</script>     
<div class="flex-container" id="login">
    <form method="post">
        <div class="imgcontainer">
            <img src="https://www.w3schools.com/howto/img_avatar2.png">
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul style="color: red; list-style-type:none;">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <div class="container">
            <div id="username">
                <label for="user"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="user" required> <br>
            </div>
            <div id="password">
                <label for="pass"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="pass" required> <br>
            </div>
            <button type="submit">Login</button><br>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label><br>
            <span class="pass"><a href="/reset">Forgot password</a></span>
            <span class="pass"><a href="/signup">Create account</a></span>
            <p>{{error}}</p>
        </div>
    </form>
</div>
</body>
</html>
