{% extends "layout.html" %}

{% block content %}
<div id="courses_sidenav" class="sidenav">
    <!-- <a> Date published </a>  may not use this -->
    <a href="/{{ course }}/announcements">Announcements</a>
    <a href="/{{ course }}/assignments">Assignments</a>
    <a href="/{{ course }}/grades">Grades</a>
</div>

<div id="courses_header_and_right_of_header">
    <div id="courses_header">

        <a href="/{{ course }}/home"> {{ course }}</a>
        <div id="courses_breadcrumbs"></div>
        Profile </span>
    </div>
    <!-- <div id = "right_of_header"></div> -->
</div>
<div id="course_section_content_body">
    <h3>My Account</h3>
    <table class="announcements_table">


        <tbody class="announcements_table_body">
            <tr><td></td></tr>
            <tr class="announcements_table_body_row">
                <td class="announcements_table_poster_item"><b>Name:</b> </td>
                <td class="announcements_table_details_item">{{ user['name'] }} </td>
            </tr>
            <tr class="announcements_table_body_row">
                <td class="announcements_table_poster_item"><b>Email:</b> </td>
                <td class="announcements_table_details_item">{{ user['username'] }}</td>
            </tr>

        <tr class="announcements_table_body_row">
                <td class="announcements_table_poster_item"><b>User ID:</b> </td>
                <td class="announcements_table_details_item">{{ user['user_id'] }}</td>
            </tr>
            <tr><td></td></tr>
        </tbody>
    </table>
    <div class="collapsible_item">
        <button type="button" class="collapsible_header"><span style="margin-left: 20px; "><b>Edit Profile</b> </span>
        </button>
        <div class="collapsible_content_all">
            <div class="collapsible_content_profile">

                <div class="collapsible_content_assign">


                    <table class="assignments_table" style="margin-bottom: 10px;">
                        <tbody class="assignments_table_body">
                        <tr class="assignments_table_body_row">
                            <td style="padding: 30px !important; margin: 0px;"><b>Name:</b></td>
                            <td style="padding: 30px !important; margin: 0px;">{{ user['name'] }}</td>
                            <td class="assignments_table_grading_item">
                                <form class="form-inline" method="post" style="display: flex; max-width: 150px;" name="update_name_form" method="POST">
                                    <label for="email2" class="mb-2 mr-sm-2"></label>
                                    <input type="text" class="form-control mb-2 mr-sm-2" id="email2" placeholder=""
                                           name="name"
                                           style="display: flex; min-width:75px; margin: 5px; margin-left:0px;">
                                    <button type="submit" class="btn btn-primary mb-2" style="margin: 5px;" name="change_name">Update
                                    </button>
                                </form>
                            </td>
                        </tr>
                        <tr class="assignments_table_body_row">
                            <td style="padding: 30px !important; margin: 0px;"><b>Email:</b></td>
                            <td style="padding: 30px !important; margin: 0px;">{{ user['username'] }}</td>
                            <td class="assignments_table_grading_item">
                                <form class="form-inline" method="post" style="display: flex; max-width: 150px;" name="update_email_form" method="POST">
                                    <label for="email2" class="mb-2 mr-sm-2"></label>
                                    <input type="text" class="form-control mb-2 mr-sm-2" id="email2" placeholder=""
                                           name="email"
                                           style="display: flex; min-width:200px; margin: 5px; margin-left:0px;">
                                    <input type="hidden" name="id" value="">
                                    <input type="hidden" name="student" value="">
                                    <button type="submit" class="btn btn-primary mb-2" style="margin: 5px;" onclick="ValidateEmail(document.update_email_form.name)" name="change_email" >Update
                                    </button>
                                </form>
                            </td>
                        </tr>
                        <tr class="assignments_table_body_row">
                            <td style="padding: 30px !important; margin: 0px;"><b>ID:</b></td>
                            <td style="padding: 30px !important; margin: 0px;">{{ user['user_id'] }}</td>
                            <td class="assignments_table_grading_item">
                                <form class="form-inline" method="post" style="display: flex; max-width: 150px;" name="id_form" method="POST">
                                    <label for="email2" class="mb-2 mr-sm-2"></label>
                                    <input type="text" class="form-control mb-2 mr-sm-2" id="email2" placeholder=""
                                           name="id"
                                           style="display: flex; min-width:75px; margin: 5px; margin-left:0px;">
                                    <button type="submit" class="btn btn-primary mb-2" style="margin: 5px;" name="change_id">Update
                                    </button>
                                </form>
                            </td>
                        </tr>

                        </tbody>

                    </table>
                </div>


            </div>


        </div>
    </div>

    <div class="collapsible_item">
        <button type="button" class="collapsible_header"><span
                style="margin-left: 20px; "><b>Change Password</b> </span></button>
        <div class="collapsible_content_all">
            <div class="collapsible_content_profile">
              <form class="form-horizontal">
                <div class="form-group">
                  <label class="control-label col-sm-2" for="pwd1">Old Password:</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" id="pwd1" placeholder="Enter old password">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="pwd2">New Password:</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" id="pwd2" placeholder="Enter new password">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="pwd3">Confirm Password:</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" id="pwd3" placeholder="Re-enter new password">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary mb-2" style="margin: 5px;">Submit</button>
                  </div>
                </div>
              </form>
            </div>
        </div>
    </div>

    <div class="collapsible_item">
        <button type="button" class="collapsible_header"><span
                style="margin-left: 20px; "><b>Change Security Question</b> </span></button>
        <div class="collapsible_content_all">
            <div class="collapsible_content_profile">
              <form class='form-horizontal'>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Edit security question...</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose a security question to edit...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="">New security question and answer</span>
                  </div>
                  <input type="text" class="form-control">
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary mb-2" style="margin: 5px;">Submit</button>
                  </div>
                </div>
              </form>
            </div>
        </div>
    </div>

</div>


{% endblock %}