{% extends "layout.html" %}

{% block content %}
<div id="courses_sidenav" class="sidenav">
    <!-- <a> Date published </a>  may not use this -->
    <a href="/{{ course }}/announcements">Announcements</a>
    <a href="/{{ course }}/assignments">Assignments</a>
    <a href="/{{ course }}/grades">Grades</a>
</div>

<div id="courses_header_and_right_of_header">
    <div id="courses_header">

        <a href="/{{ course }}/home"> {{ course }}</a>  <div id="courses_breadcrumbs"></div> Profile </span>
    </div>
    <!-- <div id = "right_of_header"></div> -->
</div>
<div id="course_section_content_body">
    <h3>Your Profile</h3>
    <div class="collapsible_item">
        <button type="button" class="collapsible_header"><span style="margin-left: 20px; "><b>Edit Profile</b> </span></button>
        <div class="collapsible_content_all">
            <div class="collapsible_content_profile">
      <form style="margin-top: 12px; margin-bottom: 12px;">
  <div class="form-row align-items-center">
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInput">Search user by Name</label>
      <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="First Last">
    </div>
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInputGroup">Search user by E-mail</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">@</div>
        </div>
        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="user@gmail.com">
      </div>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-2" style="width: 100%;">Save Profile Updates</button>
    </div>
  </div>
</form>
            </div>
        </div>
    </div>

    <div class="collapsible_item">
        <button type="button" class="collapsible_header"><span style="margin-left: 20px; "><b>Change Password</b> </span></button>
        <div class="collapsible_content_all">
            <div class="collapsible_content_profile">
               <form style="margin-top: 12px; margin-bottom: 12px;">
  <div class="form-row align-items-center">
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInput">Search user by Name</label>
      <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="First Last">
    </div>
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInputGroup">Search user by E-mail</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">@</div>
        </div>
        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="user@gmail.com">
      </div>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-2" style="width: 100%;">Update Password</button>
    </div>
  </div>
</form>
                </div>
        </div>
    </div>

    <div class="collapsible_item">
        <button type="button" class="collapsible_header"><span style="margin-left: 20px; "><b>Change Security Question</b> </span></button>
        <div class="collapsible_content_all">
            <div class="collapsible_content_profile">

             <form style="margin-top: 12px; margin-bottom: 12px;">
  <div class="form-row align-items-center">
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInput">Search user by Name</label>
      <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="First Last">
    </div>
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInputGroup">Search user by E-mail</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">@</div>
        </div>
        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="user@gmail.com">
      </div>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-2" style="width: 100%;">Update Security Question</button>
    </div>
  </div>
</form>
            </div>
        </div>
    </div>

</div>


{% endblock %}