{% extends "layout.html" %}

{% block content %}
<div id="courses_sidenav" class="sidenav">
    <!-- <a> Date published </a>  may not use this -->
    <a href="/{{ course }}/announcements">Announcements</a>
    <a href="/{{ course }}/assignments">Assignments</a>
    <a href="/{{ course }}/grades">Grades</a>
</div>

<div id="courses_header_and_right_of_header">
    <div id="courses_header">

        <a href="/{{ course }}/home"> {{ course }}</a>  <div id="courses_breadcrumbs"></div> Settings </span>
    </div>
    <!-- <div id = "right_of_header"></div> -->
</div>

<div id="course_section_content_body">
    <h3 style="padding-bottom: 6px;">User Management</h3>
    <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Role</th>
        <th>Name</th>
        <th>Username</th>
        <th>Status</th>
          <th>Controls</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        {% if user['role'] != 'admin' %}
        <tr>
          <td>{{ user['role'] }}</td>
          <td>{{ user['name'] }}</td>
          <td>{{ user['username'] }}</td>
            <td>{{ user['status']}}</td>
            <td><td class="assignments_table_grading_item">
                        <form class="form-inline" method="post" style="display: flex; max-width: 150px;">
        <label for="email2" class="mb-2 mr-sm-2"></label>
        <input type="hidden" name="username" value="{{ user['username'] }}">
        <button type="submit" class="btn btn-primary mb-2" style="margin: 5px;">Update</button>
        </form></td></td>
        </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
    </div>

{% endblock %}