{% extends "layout.html" %}

{% block content %}
<script>

</script>
<div id="courses_sidenav" class="sidenav">
    <!-- <a> Date published </a>  may not use this -->
    <a href="/{{ course_id }}/announcements">Announcements</a>
    <a href="/{{ course_id }}/assignments">Assignments</a>
    <a href="/{{ course_id }}/grades">Grades</a>
</div>

<div id="courses_header_and_right_of_header">
    <div id="courses_header">
        <div id="courses_hamburger" style="cursor:pointer" onclick="toggleNav()"> &#9776; </div>
        <a href="/{{ course_id }}/home"> {{ course_name }}</a>  <div id="courses_breadcrumbs"></div> Announcements</span>
    </div>
    <!-- <div id = "right_of_header"></div> -->
</div>

<div id="course_section_content_body">
    <a href="/{{ course_id }}/announcements_create" style="text-decoration: none; color:white;"><button class="btn btn-primary btn-block mb-4 create_post" style="background-color: #0d6efd;"> Create Announcement </button></a>
        <table class="announcements_table">
            <thead class="announcements_table_header">
            <tr>
                <th class="announcements_table_poster_header">Posted By</th>
                <th class="announcements_table_details_header">Details</th>
                <th class="announcements_table_date_header"></th>
            </tr>
            </thead>
            <tbody class="announcements_table_body">
            {% if announcements|length == 0 %}
            <tr class="assignments_table_body_row">
                <td class="assignments_table_points_item" colspan="3"> No announcements </td>
            </tr>
            {% endif %}
            {% for announcement in course_announcements %}
            <tr class="announcements_table_body_row">
                <td class="announcements_table_poster_item">{{ instructor['instructor_username'] }}</td>
                <td class="announcements_table_details_item"><a href="/{{ course_id }}/announcements_view/{{ announcement['announcement_id'] }}" style="text-decoration: none; color:black"><b>{{ announcement['title'] }}</b> </a>
                    <div id="announcement_details">{{ announcement['content'] }}</div></td>
                <td class="announcements_table_date_item"><b>Posted on:</b> <div id="announcement_date_posted">{{ announcement['date_posted'] }}</div></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

</div>
<div onload="navOpen()"></div>

{% endblock %}