{% extends "layout.html" %}

{% block content %}
<div id="courses_sidenav" class="sidenav">
    <!-- <a> Date published </a>  may not use this -->
    <a href="/courses/announcements">Announcements</a>
    <a href="/courses/assignments">Assignments</a>
    <a href="/courses/grades">Grades</a>
</div>

<div id="courses_header_and_right_of_header">
    <div id="courses_header">
        <div id="courses_hamburger" style="cursor:pointer" onclick="toggleNav()"> &#9776; </div>
        <a href="/courses/home"> My Course</a>  <div id="courses_breadcrumbs"></div> Assignments </span>
    </div>
    <!-- <div id = "right_of_header"></div> -->
</div>
<div id="course_section_content_body">
    <div class="grey_header_table">
    <div class="dummy_content"> dummy content  </div>
  </div>

            <div class="collapsible_content_assign">


                <table class="assignments_table">
            <thead class="assignments_table_header">
            <tr>
                <th class="assignments_table_assign_header">Assignment</th>
                <th class="assignments_table_points_header">Points</th>
                <th class="assignments_table_date_header">Due </th>
            </tr>
            </thead>
            <tbody class="assignments_table_body">
            <tr class="assignments_table_body_row">
                <td class="assignments_table_assign_item"><a href="/courses/assignments_view" style="text-decoration: none; color:black">Assignment Title</a> </td>
                <td class="assignments_table_points_item"> Points Here </td>
                <td class="assignments_table_date_item">Due Date Here</td>
            </tr>
            <tr class="assignments_table_body_row">
                <td class="assignments_table_assign_item"><a href="/courses/assignments_view" style="text-decoration: none; color:black">Assignment Title</a> </td>
                <td class="assignments_table_points_item"> Points Here </td>
                <td class="assignments_table_date_item">Due Date Here</td>
            </tr>
            <tr class="assignments_table_body_row">
                <td class="assignments_table_assign_item"><a href="/courses/assignments_view" style="text-decoration: none; color:black">Assignment Title</a> </td>
                <td class="assignments_table_points_item"> Points Here </td>
                <td class="assignments_table_date_item">Due Date Here</td>
            </tr>
            </tbody>

        </table></div>

<div class="grey_footer_table">
    <div class="dummy_content"> dummy content  </div>
  </div>
</div>


{% endblock %}