{% extends "layout.html" %}

{% block content %}
<script>

</script>
<div id="courses_sidenav" class="sidenav">
  <!-- <a> Date published </a>  may not use this -->
  <a href="/{{ course }}/announcements">Announcements</a>
  <a href="/{{ course }}/assignments">Assignments</a>
  <a href="/{{ course }}/grades">Grades</a>
</div>

<div id="courses_header_and_right_of_header">
  <div id="courses_header">
    <div id="courses_hamburger" style="cursor:pointer" onclick="toggleNav()"> &#9776; </div>
    <a href="/{{ course }}/home"> {{ course }}</a>  <div id="courses_breadcrumbs"></div> <a href="/{{ course }}/announcements">Announcements</a> <div id="courses_breadcrumbs"></div> Announcement Title</span>
  </div>
  <!-- <div id = "right_of_header"></div> -->
</div>

<div id="course_section_content_body">
  <div class="announcement_container">

  <div class="grey_header">
    <div class="dummy_content"> dummy content  </div>
  </div>
  <div class="announcement_content">

    <div class="announcement_content_header"><h4>New Assignment: {{course}}</h4></div>

    <!-- Textarea without sizing class -->
<form>
  <!-- Assignment Title -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form6Example3">Assignment Name</label>
    <input type="text" id="form6Example3" class="form-control" />
  </div>
    <!-- Number of Points -->
    <div class="form-outline mb-4">
    <label class="form-label" for="form6Example3">Number of Points</label>
    <input type="text" id="form6Example3" class="form-control" />
  </div>
  <!-- Assignment Description -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form6Example7">Assignment Description</label>
    <textarea class="form-control" id="form6Example7" rows="4"></textarea>
  </div>
  <!-- Submit button -->
  <div class="form_button">
    <button type="submit" class="btn btn-primary btn-block mb-4 create_post" style="background-color: #0d6efd">
    Post
  </button>
  </div>

</form>


  <div class="grey_footer">
    <div class="dummy_content"> dummy content  </div>
  </div>

    </div>
</div>

</div>
<div onload="navOpen()"></div>

{% endblock %}