{% extends "layout.html" %}

{% block content %}
<div id="courses_sidenav" class="sidenav">
    <!-- <a> Date published </a>  may not use this -->
    <a href="/courses/home">Home</a>
    <a href="/courses/announcements">Announcements</a>
    <a href="/courses/syllabus">Syllabus</a>
    <a href="/courses/modules">Modules</a>
    <a href="/courses/assignments">Assignments</a>
    <a href="/courses/grades">Grades</a>
</div>

<div id="courses_header">
    <span>
    <span style="cursor:pointer" onclick="toggleNav()"> &#9776; </span>
        <a href="#"> My Course</a>  <div id="courses_breadcrumbs"></div> Current Section </span>
    </span>
</div>


{% endblock %}