{% extends "layout.html" %}

{% block content %}

<div id="courses_sidenav" class="sidenav">
    <!-- <a> Date published </a>  may not use this -->
    <a href="/courses/announcements">Announcements</a>
    <a href="/courses/assignments">Assignments</a>
    <a href="/courses/grades">Grades</a>
</div>

<div id="courses_header_and_right_of_header">
    <div id="courses_header">
        <div id="courses_hamburger" style="cursor:pointer" onclick="toggleNav()"> &#9776; </div>
        <a href="/courses/home"> My Course</a>  <div id="courses_breadcrumbs"></div> Grades </span>
    </div>
    <!-- <div id = "right_of_header"></div> -->
</div>
<div id="course_section_content_body">
    <h3>Course Grades</h3>
</div>

{% endblock %}