{% extends "layout.html" %}

{% block content %}
<div id="courses_sidenav" class="sidenav">
    <!-- <a> Date published </a>  may not use this -->
    <a href="/{{ course_id }}/announcements">Announcements</a>
    <a href="/{{ course_id }}/assignments">Assignments</a>
    <a href="/{{ course_id }}/grades">Grades</a>
</div>

<div id="courses_header_and_right_of_header">
    <div id="courses_header">
        <div id="courses_hamburger" style="cursor:pointer" onclick="toggleNav()"> &#9776; </div>
        <a href="/{{ course_id }}/home"> {{ course_name }}</a>  <div id="courses_breadcrumbs"></div> Grades </span>
    </div>
    <!-- <div id = "right_of_header"></div> -->
</div>

<div id="course_section_content_body">
    {% if role == 'student' %}
    <div class="grey_header_table">
    <div class="dummy_content"> dummy content  </div>
  </div>

            <div class="collapsible_content_assign">


                <table class="assignments_table">
            <thead class="assignments_table_header">
            <tr>
                <th class="assignments_table_assign_header">Assignment</th>
                <th class="assignments_table_points_header">Points Received</th>
                <th class="assignments_table_points_header">Points Total</th>
                <th class="assignments_table_date_header">Submitted </th>
            </tr>
            </thead>
            <tbody class="assignments_table_body">
            {% if assignments|length == 0 %}
            <tr class="assignments_table_body_row">
                <td class="assignments_table_points_item" colspan="3"> No submitted assignments </td>
            </tr>
            {% endif %}
            {% for assignment in assignments %}
            <tr class="assignments_table_body_row">
                <td class="assignments_table_assign_item"><a href="/{{ course_id }}/assignments_view/{{ assignment['assignment_id'] }}" style="text-decoration: none; color:black">{{ assignment['title'] }}</a> </td>
                <td class="assignments_table_points_item"> {{ assignment['points_received'] }} </td>
                <td class="assignments_table_points_item"> {{ assignment['total_points'] }} </td>
                <td class="assignments_table_date_item">{{ assignment['date_submitted'] }}</td>
            </tr>
            {% endfor %}
            </tbody>

        </table></div>

<div class="grey_footer_table">
    <div class="dummy_content"> dummy content  </div>
  </div>
  {% endif %}
  {% if role == 'instructor' %}
        <div class="grey_header_table">
    <div class="dummy_content"> dummy content  </div>
  </div>

            <div class="collapsible_content_assign">


                <table class="assignments_table">
            <thead class="assignments_table_header">
            <tr>
                <th class="assignments_table_assign_header">Assignment</th>
                <th class="assignments_table_points_header">Points Received</th>
                <th class="assignments_table_points_header">Edit Grade</th>
                <th class="assignments_table_grading_header">Points Total</th>
                <th class="assignments_table_date_header">Student</th>
            </tr>
            </thead>
            <tbody class="assignments_table_body">
            {% for assignment in assignments %}
            <tr class="assignments_table_body_row">
                <tr class="assignments_table_body_row">
                    <td class="assignments_table_assign_item"><a href="/{{ course_id }}/assignments_view/{{ assignment['assignment_id'] }}" style="text-decoration: none; color:black">{{ assignment['title'] }}</a> </td>
                    <td class="assignments_table_points_item"> {{ assignment['points_received'] }} </td>
                    <td class="assignments_table_grading_item"><form class="form-inline" action="/action_page.php" style="display: flex; max-width: 150px;">
        <label for="email2" class="mb-2 mr-sm-2"></label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="email2" placeholder="" name="email" style="display: flex; min-width:75px; margin: 5px; margin-left:0px;">
        <button type="submit" class="btn btn-primary mb-2" style="margin: 5px;">Update</button>
        </form></td>
                    <td class="assignments_table_points_item"> {{ assignment['total_points'] }}  </td>
                    <td class="assignments_table_date_item">{{ assignment['date_submitted'] }}</td>
                </tr>
            </tr>
            {% endfor %}

            </tbody>

        </table></div>
      
<div class="grey_footer_table">
    <div class="dummy_content"> dummy content  </div>

  </div>
  {% endif %}  


</div>




{% endblock %}